.btnMain {
    border: none;
    border-radius: 25px;
    background-color: $color-6;
    height: 38px;
    color: #fff;
    font-family: "Geometria-Medium";
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: $color-2;
    }
    &--white {
        border: 2px solid #fff;
        background-color: transparent;
        &:hover {
            background-color: transparent;
            border-color: $color-6;
            color: $color-6;
        }
    }
}
.btnArrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border: 2px solid;
    &--dark {
        background-color: $color-1;
        border-color: #fff;
        &:hover {
            background-color: $color-2;
            border-color: $color-2;
        }
    }
    &--light {
        background-color: #fff;
        border-color: $color-1;
        color: $color-1;
        &:hover {
            background-color: $color-2;
            border-color: $color-2;
        }
    }
}
