$height-footer: 300px;
$color-bgBody: #f5f5f5;
$color-base: #333;


$color-1: #153259;
$color-2: #1f273c;
$color-3: #2384ce;
$color-4: #67aed9;
$color-5: #4e7cbc;
$color-6: #2f4f7d;
$color-7: #b8bfca;
$color-8: #262626;

// ICOMOON FONTS
$icomoon-font-path: "../fonts" !default;
$navicon-icon_plus: "\e91b";
$navicon-icon_likes: "\e91a";
$navicon-icon_qustion: "\e90d";
$navicon-icon_x: "\e90e";
$navicon-icon_views: "\e90f";
$navicon-search: "\e910";
$navicon-icon_widgets: "\e911";
$navicon-icon_preferences: "\e912";
$navicon-icon_news: "\e913";
$navicon-icon_man: "\e914";
$navicon-icon_info: "\e915";
$navicon-icon_dialog: "\e916";
$navicon-icon_birthday: "\e917";
$navicon-icon_around: "\e918";
$navicon-icon_bell: "\e919";










