main.main
    .slider
        include slider
    .news
        .title__section 
            i.navicon-icon_news
            span Новости
        ul.news__list
            li.news__item
                .news__wrapper
                    .news__left
                        .news__img
                            img(src="/image/newsImg1.png", alt="")
                    .news__right
                        .news__content
                            .news__top
                                .news__date Сегодня в 14:00
                                .news__desc Новый член нашей дружной команды
                            .news__bottom
                                a(href="#!").news__like
                                    i.navicon-icon_likes
                                    span 10
                                a(href="#!").news__watch
                                    i.navicon-icon_views
                                    span 6 989
            li.news__item
                .news__wrapper
                    .news__left
                        .news__img
                            img(src="/image/newsImg2.png", alt="")
                    .news__right
                        .news__content
                            .news__top
                                .news__date Вчера
                                .news__desc Новый Год в школе-интернате «Абсолют»
                            .news__bottom
                                a(href="#!").news__like
                                    i.navicon-icon_likes
                                    span 509
                                a(href="#!").news__watch
                                    i.navicon-icon_views
                                    span 88
            li.news__item
                .news__wrapper
                    .news__left
                        .news__img
                            img(src="/image/newsImg3.png", alt="")
                    .news__right
                        .news__content
                            .news__top
                                .news__date 23.04.2016
                                .news__desc Поездка на экскурсию в город Санкт-Петербург
                            .news__bottom
                                a(href="#!").news__like
                                    i.navicon-icon_likes
                                    span 10
                                a(href="#!").news__watch
                                    i.navicon-icon_views
                                    span 98
            li.news__item
                .news__wrapper
                    .news__left
                        .news__img
                            img(src="/image/newsImg4.png", alt="")
                    .news__right
                        .news__content
                            .news__top
                                .news__date 22.04.2016
                                .news__desc Празднование 8 марта в школе–интернате «Абсолют». Фотоотчет о прошедшем мероприятиии
                            .news__bottom
                                a(href="#!").news__like
                                    i.navicon-icon_likes
                                    span 0
                                a(href="#!").news__watch
                                    i.navicon-icon_views
                                    span 6
        .news__moreNews
            btn.news__moreNews__btn
                i.navicon-icon_plus 
                span Показать еще новости
            