aside.sidebar
    .task
        .title__section.title__section--white Задачи
        ul.task__list
            li.task__item
                .task__num 23
                .task__desk Входящие
            li.task__item
                .task__num 14
                .task__desk Исходящие
            li.task__item
                .task__num 0
                .task__desk Документы
        button.btnMain Создать задачу
    .blockInfo
        .title__section 
            i.navicon-icon_man
            span Сотруднику
        ul.blockInfo__list
            li.blockInfo__item
                a.blockInfo__link.btnMain.btnMain--white(href="#") Кадровая политика
            li.blockInfo__item
                a.blockInfo__link.btnMain.btnMain--white(href="#") Полезные контакты
            li.blockInfo__item
                a.blockInfo__link.btnMain.btnMain--white(href="#") Информационная безопасность
            li.blockInfo__item
                a.blockInfo__link.btnMain.btnMain--white(href="#") ИТ ресурсы
            li.blockInfo__item
                a.blockInfo__link.btnMain.btnMain--white(href="#") Истории успеха
            li.blockInfo__item
                a.blockInfo__link.btnMain.btnMain--white(href="#") Корпоративные стандарты
    .interview
        .interview__wrapper
            .title__section 
                i.navicon-icon_qustion 
                span Опрос
            .interview__question Лучшее место для нашего новогоднего корпоратива
            ul.interview__list
                li.interview__item.interview__item--red
                    a.interview__link(href="#") Ресторан
                li.interview__item.interview__item--yellow                  
                    a.interview__link(href="#") Турбаза
                li.interview__item.interview__item--green
                    a.interview__link(href="#") Ранчо
                li.interview__item.interview__item--purple
                    a.interview__link(href="#") Лапландия
        .interview__statistic
            img(src="", alt="")
    .widgets
        .title__section Виджеты
        