
.flexslider
    ul.slides(style="")
        li
            img(src="/image/sliderImg.png")
        li
            img(src="/image/sliderImg.png")   
        li
            img(src="/image/sliderImg.png")   
.slider__desc
    p.slider__desc--text Празднование Масленицы в школе-интернате «Абсолют».Фотоотчет.